<body bgcolor="#E6E6FA">
	<center>
	<h1> Hi <%= @name %> </h1>

<h2>Pick One of the below</h2>

<h3><a href="">Rock</a> <a href="">Paper</a> <a href="">Scissors</a></h3>


<br>
<img src='https://m1.behance.net/rendition/modules/12641098/disp/a44115f3e81b48b045954970b9b35744.jpg'>

</center>


</body>