<body bgcolor="#E6E6FA">

<center><h1>Welcome to Rock Paper Scissors</h1>
<h2>Please enter your name</h2>

<form action='/game' method="post">
Name: <input type="text" name="player">
</form>


<img src='https://m1.behance.net/rendition/modules/12641098/disp/a44115f3e81b48b045954970b9b35744.jpg'>

</center>

</body>